<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="persist">
        <class>Controller.SlovarModel</class>
        <properties>
            <property name="hibernate.jdbc.driver" value="org.postgresql.jdbcDriver" />
            <property name="hibernate.jdbc.url" value="jdbc:postgresql://localhost:5432/test"/>
            <property name="hibernate.jdbc.user" value="postgres" />
            <property name="hibernate.jdbc.password" value="postgres" />
        </properties>
    </persistence-unit> </persistence>
